{{!-- See https://handlebarsjs.com/guide/builtin-helpers.html --}}

<section class="m-1">
    <h1>{{upper "Sandbox"}}</h1>

    {{#if isLoggedIn}}
    {{>test}}
    {{else}}
    {{>test custom="Magic!"}}
    {{/if}}

    <code>
        {{data}}
    </code>

    <section class="border border-secondary rounded mb-1 p-2">
        <h2>Foods</h2>
        <ul>
            {{#each foods}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </section>

    <section class="border border-secondary rounded mb-1 p-2">
        <h2>Book</h2>
        {{#with book}}
        <p>Title: {{title}}</p>
        <p>Pages: {{pages}}</p>
        {{/with}}
    </section>
</section>