{{!-- See https://handlebarsjs.com/guide/builtin-helpers.html --}}

<section class="m-1">
    <h1>Sandbox</h1>

    {{#if isLoggedIn}}
    {{>test}}
    {{else}}
    {{data}}
    {{/if}}

    <section class="border border-secondary rounded mb-1 p-2">
        <h2>Foods</h2>
        <ul>
            {{#each foods}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </section>

    <section class="border border-secondary rounded mb-1 p-2">
        <h2>Book</h2>
        {{#with book}}
            <p>Title: {{title}}</p>
            <p>Pages: {{pages}}</p>
        {{/with}}
    </section>
</section>